<service name="python_sdist">
  <summary>Python setup.py sdist service</summary>
  <description>This service creates a source distribution (sdist) from a Python project (containing a setup.py file)</description>
  <param name="basename">
    <description>Directory or tarball containing a setup.py file (glob)")</description>
    <required/>
  </param>
  <param name="dist-dir">
    <description></description>
  </param>
  <param name="format">
    <description></description>
  </param>
  <param name="verbose">
    <description></description>
  </param>
  <param name="filename">
    <description>source distribution filename (without ending)</description>
  </param>
</service>

